@model WebApplication.ViewModel.DependenteVM

@{
    ViewData["Title"] = "Dependente";
}

<h1>Cadastrar Dependente</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dependente.FuncionariosID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependente.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependente.DataDeNascimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependente.Sexo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LstDependentes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionariosID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNascimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
